#!/bin/bash
[CA]
ORG="<org>"
CANAME="CA_${ORG}"
CITY="MSK"
LOCATION="<location>"
RETENTION_CA=<days>
RETENTION=<days>
CA_DIR="${CANAME}"
[crt]
MYCERT="<CN>"
FQDN="${MYCERT}.${LOCATION}.${ORG}"
[alt_name]
DNS1="${FQDN}"
DNS2="${MYCERT}"
DNS3="${MYCERT}.${LOCATION}"
IP1="<IP>"
